table{
    display: flex;
    justify-self: center;
}
td, th{
    border:2px solid #d8b28a;
}
img{
    height: 150px;
    margin-left: 15px;
    margin-right: 15px;
}
nav{
    position: fixed; /* no moving when flexing... */
    top: 10px;
    left: 150px;
    text-align: center;
    padding:-5em;
    padding-right: 0;
    width: 80%;
    background-color: #d02d3a;
    color: #D1D5DB;
    font-size: 25px;
    margin: auto;
    border-radius: 25px;
    z-index: 9999; /*this will make sure it is always on top*/
}
a{
    text-decoration: none;
}
nav a{
    text-align: center;
    display: block;
    border-radius: 40px;
    color: #1f1128;
}
nav ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    font-size: 1.2em;
    list-style-type: none;
}
nav li{
    display: inline;
    width: 7em;
    padding: 0.5em 1em 0 0.5em; /*top right bottom left*/
}
/*event handler styling - interact with tag, something happens*/
nav .link:hover{
    color: #7FFFD4;
    --regglow: #40E0D0;
    --bigglow: #E3FFFB;
    animation: pulseGlow 3s infinite;
}
header{
    color: #b9aed5;
    font-size: 30px;
}
h2{
    color: #68cf16;
    font-size: 35px;
}
h3, h4{
    color: #74ccde;
    font-size: 25px;
}
button{
    background: none;
    border: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-top: 0px;
    padding-top: 15px;
}
footer a{
    color: #D2FFF9;
}
/* id section */
#wrapper{
    padding-top: 3em;
    margin:auto;
    width:90vw;
    background-color: #193c6b;
    color: #b9aed5;
}
#sictc{
    display: none;
}

/* functions */
/* Chatgpt helped me with this */
@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 20px var(--regglow);
    }
    50% {
        box-shadow: 0 0 40px var(--bigglow);
    }
    100% {
        box-shadow: 0 0 20px var(--regglow);
    }
}
/* Classes */
.switch{
    width: 25px;
}
.tabs{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 50%;
}
.tab{
    margin: 0px;
}
.tabs:hover{
    --regglow: #78df26;
    --bigglow: #88ef36;
    animation: pulseGlow 3s infinite;
}
.desc{
    float: right;
    flex-wrap: wrap;
    width: 30%;
}
.logo{
    width:70px;
    height: auto;
    padding: 0.5em 1em 0 0.5e;
    border-radius: 100%;
}
.logo:hover{
    --regglow: #A8EF60;
    --bigglow: #B8FF70;
    animation: pulseGlow 3s infinite;
}
.game-background{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #906d4c;
    box-shadow: 0 0 20px #6C5A70;
    border-radius: 10px;
    --regglow: #a07d5c;
    --bigglow: #b08d6c;
    animation: pulseGlow 3s infinite;
    height: 850px;
    width: 100%;
    padding-top: 20px;
}
.game{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.button{
    display: flex;
    position: relative;
    top: -100px;
    width: 300px;
    justify-self: center;
    height: 70px;
    /* background-color: #7FFFD4; */
    font-size: 70px;
}
.code{
    filter: brightness(65%);
}
.small{
    height: 2px;
}
.medium{
    height: 8px;
}
.section{
    margin-top: 20px;
    margin-bottom: 20px;
}
.divider{
    border: 2px solid #d8b28a;
    background-color: #d8b28a;
    width: 100%;
}
@media (min-width: 700px) {
    .mobile{
        display: none;
    }
    .desktop{
        display: flex;
    }
}
@media (max-width: 700px) {
    .mobile{
        display: flex;
    }
    .desktop{
        display: none;
    }
}

