body{
  background-color: aquamarine;
}
h1 {
  text-align: center;
}

.item {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  margin: 0px;
  margin-bottom: 10px;
  height: 200px;
  text-align: center;
}

.display {
  display: flex;
  justify-self: center;
  justify-content: center;
  /* border: 5px solid black; */
  height: auto;
  width: 80%;
}

.column {
  width: 16.66666667%;
}

.song,
.artist,
.image,
.length,
.link,
.delete-button {
  display: block;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  font-size: large;
  margin: auto;
}

.divider {
  height: 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: black;
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
}

input {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 50px;
  border: 2px solid white;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 50px;
  border: 2px solid aquamarine;
  background-color: green;
}

.delete-button {
  background-color: red;
  color: white;
  border: 5px solid black;
  height: 50px;
  margin-top: 75px;
  margin-bottom: 150px;
}